body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.top{
    height: 300px;
    background-color: #1f2937;
    display: flex;
    padding-top: 10px;
    padding-bottom: 40px;
    justify-content: center;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;    
}


.links{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    color: gray;
    font-size: 18px;
}

.content{
    display: flex;
}

.leftHeader{
    display: flex;
    flex-direction: column;
    gap: 100px;
    flex-basis: 596px;
}

.rightHeader{
    display: flex;
    flex-direction: column;
    gap: 58px;
    flex-basis: 596px;
}

.image{
    display: flex;
    background-color: #8b8d8f;
    color: white;
    padding: 20px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;    
}

.headerButton{
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
}

.headerMainText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainText{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondaryText{
    font-size: 18px;
    color: #e5e7eb;
}

/* END OF TOP HEADER SECTION */

.emptyBox{
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
    height: 100px;
    width: 100px;
}

.text{
    width: 150px;
    text-align: center;
    color: gray;
    font-size: 18px;
}

.boxAndText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.middleContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.imageGroup{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.upperMiddle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
}

.middleTitle{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

/* END OF UPPER MIDDLE SECTION */

.lowerMiddle{
    height: 300px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lowerMiddleContent{
    display: flex;
    flex-direction: column;
    width: 450px;
}

.quote{
    font-size: 20px;
    color: #1f2937;
    font-style: italic;
}

.author{
    text-align: end;
    font-weight: bold;
}

.bottom{
    height: 200px;
}

.middleBottom{
    background-color: #3882f6;
}

.footer{
    height: 50px;
    background-color: #1f2937;
}

